<div class="contendor">

  <div class="contenedor_cajero" data-aos="zoom-in">
    <div class="contenido_cajero">
      <router-outlet></router-outlet>
    </div>

    <div class="botones_cajero">

      <div class="numeros_btn">
        <button (click)="concatenar('1')">1</button>
        <button (click)="concatenar('2')">2</button>
        <button (click)="concatenar('3')">3</button>
        <button (click)="concatenar('4')">4</button>
        <button (click)="concatenar('5')">5</button>
        <button (click)="concatenar('6')">6</button>
        <button (click)="concatenar('7')">7</button>
        <button (click)="concatenar('8')">8</button>
        <button (click)="concatenar('9')">9</button>
        <button (click)="concatenar('0')">0</button>
        <button (click)="concatenar('00')">00</button>
        <button></button>
      </div>

      <div class="acciones_btn">
        <button class="cancelar" (click)="Terminar()">Cancelar</button>
        <button class="corregir" (click)="Corregir()">Corregir</button>
        <button class="confirmar" (click)="Confirmar()">Confirmar</button>
      </div>

    </div>
  </div>

  <div class="contenedor_dinero" data-aos="zoom-in">
    <div class="container_billete">
      <div class="billete"><p>$100k</p></div>
      <p class="cantidad">{{this.dinero[0]}}</p>
    </div>

    <div class="container_billete">
      <div class="billete"><p>$50k</p></div>
      <p class="cantidad">{{this.dinero[1]}}</p>
    </div>

    <div class="container_billete">
      <div class="billete"><p>$20k</p></div>
      <p class="cantidad">{{this.dinero[2]}}</p>
    </div>

    <div class="container_billete">
      <div class="billete"><p>$10k</p></div>
      <p class="cantidad">{{this.dinero[3]}}</p>
    </div>
  </div>

</div>
